.wrapper{
	z-index: 1;
	text-align: center;
	position: relative;
	padding-top: 5vh;
}
img{
  width: 150px;
  margin: auto ;
}

h1{
  text-align: center;
}
#log{   
	padding-top: 50px;
  	padding-right: 4px;
  	padding-bottom: 80px;
 	padding-left: 4px;
	-webkit-box-shadow: 0px 0px 65px 14px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 65px 14px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 65px 14px rgba(0,0,0,0.75); 
}
label{
  color:white;
  font-size: 20px;
}
h1{
	margin-bottom: 10px;
	color: white;
}
a:link {
  color: black;
}
#frgt{
  color:white;
  float:left;
  margin-top:6px;
  font-size:20px;
}
#cna{
  float:right;
  margin-top:6px;
  font-size:20px;
}
.shift{
	padding: 40px 40px;
}
.boxInFront{
  top:auto;
}
.temp{
  height: 40px;
  line-height: 40px;
  background-color: #3ff33f;
}
li span{
  width:0;
  opacity: 0;
  transition: .2s width;
  display: inline-block;
}
li:hover span{
  width:20px;
  opacity: 1;
}
.containerForLi{
  list-style: none;
  width:360px;
}