#log{
	padding: 40px 40px;
	-webkit-box-shadow: 0px 0px 65px 14px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 65px 14px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 65px 14px rgba(0,0,0,0.75);
}
h1{
	margin-bottom: 10px;
	color: white;
}
label{
	font-size: 20px;
	color: white;
}
body{
	background-image: url(https://images.wallpaperscraft.com/image/wood_background_texture_36573_300x168.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}
.shift{
	padding: 40px 40px;
}