<!DOCTYPE html>
<html>
<head>
  <title>Login Page</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width , initial-state=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="stylesheet/signup.css">
  <script type="text/javascript">
    window.onload=function(){
     var pwd=document.querySelector("#pwd");
    var cpwd=document.querySelector("#cpwd");
    var btn=document.querySelector("#smt");
    var message=document.querySelector("#message");
    window.check=function(){
      if(pwd.value==cpwd.value){
        btn.disabled=false;
      }else {
        btn.disabled=true;
        if(pwd.value!="" && cpwd.value!=""){
          alert("Password does not matches");
        }
      }
    }
    }
  </script>
</head>
<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4 col-sm-4 col-xx-12"></div>
      <div class="col-md-4 col-sm-4 col-xx-12 shift">
        <form id="log" method="POST" action="/register">
          <h1 id="h">Sign up Form</h1>
          <img class="rounded-circle mx-auto d-block img-fluid" src="">
          <div class="form-group">
            <input type="text" name="name" placeholder="Name" class="form-control" required>
          </div>
          <div class="form-group">
            <input type="text" name="username" placeholder="username" class="form-control" required>
          </div>
          <div class="form-group">
            <input id="pwd" type="password" onchange="check();" name="password" placeholder="Password" class="form-control" required>
          </div>
          <div class="form-group">
            <input id="cpwd" type="password" onchange="check();" name="confirm-password" placeholder="Confirm Password" class="form-control" required>
          </div>
          <button id="smt" type="submit" class="btn btn-block btn-success">Sign up</button>
        </form>
      </div>
      <div class="col-md-4 col-sm-4 col-xx-12"></div>
    </div>
  </div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
</body>
</html>