<%include ../partials/header%>
<style type="text/css">
	body{
		background-image: none;
	}
</style>
<div class="boxInFront">
	<!-- Enter all your code with in this div -->
	<h1 style="color: black;">front page of todos</h1>
	<li><a href="/logout">log out</a></li>
	<li><a href="/">Home</a></li>
</div>
<%include ../partials/footer%>